*{
    padding: 2px;
    margin: 0px;
    background-color: #3a3939 ;
}


#calculator{
    border: 2px solid black;
    border-radius: 5px;
    width: 220px;
    background-color: rgb(100, 99,99);
    margin-left:40% ;
    margin-top: 10%;
    

}
#display{
    margin: 10px ;
    width: 85%;
    font-size: 25px;
    background-color: #d0d0d0;


}

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: red; */

    
    
}
.button-class{
    
    width: 50px;
    height: 40px;
    margin: 3px;
    border-radius: 30px;
    /* color: rgb(160, 56, 56); */
}
#equal{
    background-color: orange;
}
#algebra{
    color: orange;
}

